# EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'E:/Descargas/food_coded.csv')

In [5]:
df.shape

(125, 61)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

## Null?

In [7]:
df.isna().sum().sort_values(ascending=False)

type_sports                     26
calories_day                    19
comfort_food_reasons_coded      19
cuisine                         17
exercise                        13
                                ..
comfort_food_reasons_coded.1     0
diet_current_coded               0
ethnic_food                      0
eating_out                       0
fruit_day                        0
Length: 61, dtype: int64

## Duplicated?

In [8]:
df.duplicated().sum()

0

## Df describe

In [9]:
df.describe()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,...,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories
count,125.000000,125.000000,125.000000,106.000000,124.000000,125.00000,106.000000,122.000000,125.000000,108.000000,...,124.000000,124.000000,124.000000,123.000000,125.000000,124.000000,125.000000,125.000000,125.000000,125.000000
mean,1.392000,1.112000,577.320000,3.028302,505.241935,1.75200,2.698113,2.786885,2.688000,1.388889,...,2.806452,3.120968,1.217742,1.390244,3.336000,947.580645,555.040000,4.008000,1.512000,1073.400000
std,0.490161,0.316636,131.214156,0.639308,230.840506,0.43359,1.972042,1.038351,1.910987,0.974759,...,1.423824,1.115980,0.414385,0.489800,1.436528,202.090179,152.370379,1.081337,0.501867,248.667092
min,1.000000,1.000000,265.000000,2.000000,315.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,580.000000,345.000000,1.000000,1.000000,575.000000
25%,1.000000,1.000000,430.000000,3.000000,420.000000,2.00000,2.000000,2.000000,2.000000,1.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,725.000000,500.000000,3.000000,1.000000,900.000000
50%,1.000000,1.000000,610.000000,3.000000,420.000000,2.00000,2.000000,3.000000,2.000000,1.000000,...,3.000000,3.000000,1.000000,1.000000,3.000000,940.000000,500.000000,4.000000,2.000000,900.000000
75%,2.000000,1.000000,720.000000,3.000000,420.000000,2.00000,3.000000,3.000000,3.000000,1.000000,...,4.000000,4.000000,1.000000,2.000000,5.000000,1165.000000,690.000000,5.000000,2.000000,1315.000000
max,2.000000,2.000000,720.000000,4.000000,980.000000,2.00000,9.000000,5.000000,9.000000,6.000000,...,5.000000,6.000000,2.000000,2.000000,5.000000,1165.000000,850.000000,5.000000,2.000000,1315.000000

In [10]:
df.describe(include = 'object')

,GPA,comfort_food,comfort_food_reasons,diet_current,eating_changes,father_profession,fav_cuisine,food_childhood,healthy_meal,ideal_diet,meals_dinner_friend,mother_profession,type_sports,weight
count,123,124,123,124,122,122,123,124,124,124,122,123,99,123
unique,38,124,106,124,121,114,60,114,124,124,121,112,66,47
top,3.5,none,boredom,eat good and exercise,none,Construction,Italian,Pizza,looks not oily,being healthy,"Chicken, Steak, Pasta",Teacher,none,135
freq,13,1,7,1,2,2,22,5,1,1,2,3,8,8

## Dataset before cleaning

In [11]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

# Data Cleaning

## Replace text with NaN in the 'weight' column

In [14]:
df['weight'].replace(["I'm not answering this"], np.nan, inplace=True)

## Extract only the numeric values from the 'weight' and 'GPA' columns and create new columns from them

In [13]:
df['weight_clean'] = df['weight'].str.extract(r'(\d+\.?\d*)')
df['GPA_clean'] = df['GPA'].str.extract(r'(\d+\.?\d*)')

## Convert 'GPA_clean' and 'weight_clean' columns to float type

In [14]:
df[['GPA_clean', 'weight_clean']] = df[['GPA_clean', 'weight_clean']].astype(float)

## Move 'GPA_clean' column to the front of the DataFrame

In [15]:
columna = 'GPA_clean'

resto = [col for col in df.columns if col != columna]

df = df[[columna] + resto]

## Drop unnecessary or redundant columns from the DataFrame

In [16]:
df.drop(columns=['comfort_food_reasons_coded', 'eating_changes_coded', 'GPA', 'weight'], inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_226408\3925848608.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['comfort_food_reasons_coded', 'eating_changes_coded', 'GPA', 'weight'], inplace=True)

## Rename cleaned columns to replace original names

In [17]:
df.rename(columns={
    'GPA_clean': 'GPA',
    'weight_clean': 'weight'
}, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_226408\1988671755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

## Select numeric columns and convert them to float type

In [18]:
columnas_numericas = df.select_dtypes(include=['int64', 'float64']).columns
df[columnas_numericas] = df[columnas_numericas].astype(float)

C:\Users\USER\AppData\Local\Temp\ipykernel_226408\635520881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columnas_numericas] = df[columnas_numericas].astype(float)

## Convert all text columns to lowercase

In [19]:
columnas_texto = df.select_dtypes(include=['object']).columns
df[columnas_texto] = df[columnas_texto].apply(lambda col: col.str.lower())

C:\Users\USER\AppData\Local\Temp\ipykernel_226408\1937965926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columnas_texto] = df[columnas_texto].apply(lambda col: col.str.lower())

## Check df

In [20]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.400,2.0,1.0,430.0,NaN,315.0,1.0,none,we dont have comfort,2.0,...,1.0,1.0,1.0,1165.0,345.0,car racing,5.0,1.0,1315.0,187.0
1,3.654,1.0,1.0,610.0,3.0,420.0,2.0,"chocolate, chips, ice cream","stress, bored, anger",3.0,...,1.0,1.0,2.0,725.0,690.0,basketball,4.0,2.0,900.0,155.0
2,3.300,1.0,1.0,720.0,4.0,420.0,2.0,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5.0,1165.0,500.0,none,5.0,1.0,900.0,NaN
3,3.200,1.0,1.0,430.0,3.0,420.0,2.0,"pizza, mac and cheese, ice cream",boredom,2.0,...,1.0,2.0,5.0,725.0,690.0,NaN,3.0,1.0,1315.0,240.0
4,3.500,1.0,1.0,720.0,2.0,420.0,2.0,"ice cream, chocolate, chips","stress, boredom, cravings",1.0,...,1.0,1.0,4.0,940.0,500.0,softball,4.0,2.0,760.0,190.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.500,1.0,1.0,610.0,4.0,420.0,2.0,"wine. mac and cheese, pizza, ice cream",boredom and sadness,3.0,...,1.0,1.0,5.0,940.0,500.0,softball,5.0,1.0,1315.0,156.0
121,3.000,1.0,1.0,265.0,2.0,315.0,2.0,pizza / wings / cheesecake,loneliness / homesick / sadness,3.0,...,1.0,NaN,4.0,940.0,500.0,basketball,5.0,2.0,1315.0,180.0
122,3.882,1.0,1.0,720.0,NaN,420.0,1.0,"rice, potato, seaweed soup",sadness,3.0,...,1.0,2.0,5.0,580.0,690.0,none,4.0,2.0,1315.0,120.0
123,3.000,2.0,1.0,720.0,4.0,420.0,1.0,"mac n cheese, lasagna, pizza","happiness, they are some of my favorite foods",3.0,...,2.0,2.0,1.0,940.0,500.0,NaN,3.0,1.0,1315.0,135.0
124,3.900,1.0,1.0,430.0,NaN,315.0,2.0,"chocolates, pizza, and ritz.","hormones, premenstrual syndrome.",NaN,...,1.0,2.0,2.0,725.0,345.0,NaN,4.0,2.0,575.0,135.0

## Check df describe

In [21]:
df.describe()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,cook,comfort_food_reasons_coded.1,cuisine,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
count,121.000000,125.000000,125.000000,125.000000,106.000000,124.000000,125.00000,122.000000,125.000000,108.000000,...,124.000000,124.000000,123.000000,125.000000,124.000000,125.000000,125.000000,125.000000,125.000000,122.00000
mean,3.418653,1.392000,1.112000,577.320000,3.028302,505.241935,1.75200,2.786885,2.688000,1.388889,...,3.120968,1.217742,1.390244,3.336000,947.580645,555.040000,4.008000,1.512000,1073.400000,159.04918
std,0.389998,0.490161,0.316636,131.214156,0.639308,230.840506,0.43359,1.038351,1.910987,0.974759,...,1.115980,0.414385,0.489800,1.436528,202.090179,152.370379,1.081337,0.501867,248.667092,32.37662
min,2.200000,1.000000,1.000000,265.000000,2.000000,315.000000,1.00000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,580.000000,345.000000,1.000000,1.000000,575.000000,100.00000
25%,3.200000,1.000000,1.000000,430.000000,3.000000,420.000000,2.00000,2.000000,2.000000,1.000000,...,2.000000,1.000000,1.000000,2.000000,725.000000,500.000000,3.000000,1.000000,900.000000,135.00000
50%,3.500000,1.000000,1.000000,610.000000,3.000000,420.000000,2.00000,3.000000,2.000000,1.000000,...,3.000000,1.000000,1.000000,3.000000,940.000000,500.000000,4.000000,2.000000,900.000000,155.00000
75%,3.700000,2.000000,1.000000,720.000000,3.000000,420.000000,2.00000,3.000000,3.000000,1.000000,...,4.000000,1.000000,2.000000,5.000000,1165.000000,690.000000,5.000000,2.000000,1315.000000,180.00000
max,4.000000,2.000000,2.000000,720.000000,4.000000,980.000000,2.00000,5.000000,9.000000,6.000000,...,6.000000,2.000000,2.000000,5.000000,1165.000000,850.000000,5.000000,2.000000,1315.000000,265.00000

## Fill missing values in all columns with the mode of each column

In [22]:
for col in df.columns:
    moda = df[col].mode()
    if not moda.empty:
        df[col].fillna(moda[0], inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_226408\437893385.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(moda[0], inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_226408\437893385.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(moda[0], inplace=True)

## Check clean df

In [23]:
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,cook,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.400,2.0,1.0,430.0,3.0,315.0,1.0,none,we dont have comfort,2.0,...,1.0,1.0,1.0,1165.0,345.0,car racing,5.0,1.0,1315.0,187.0
1,3.654,1.0,1.0,610.0,3.0,420.0,2.0,"chocolate, chips, ice cream","stress, bored, anger",3.0,...,1.0,1.0,2.0,725.0,690.0,basketball,4.0,2.0,900.0,155.0
2,3.300,1.0,1.0,720.0,4.0,420.0,2.0,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5.0,1165.0,500.0,none,5.0,1.0,900.0,135.0
3,3.200,1.0,1.0,430.0,3.0,420.0,2.0,"pizza, mac and cheese, ice cream",boredom,2.0,...,1.0,2.0,5.0,725.0,690.0,hockey,3.0,1.0,1315.0,240.0
4,3.500,1.0,1.0,720.0,2.0,420.0,2.0,"ice cream, chocolate, chips","stress, boredom, cravings",1.0,...,1.0,1.0,4.0,940.0,500.0,softball,4.0,2.0,760.0,190.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.500,1.0,1.0,610.0,4.0,420.0,2.0,"wine. mac and cheese, pizza, ice cream",boredom and sadness,3.0,...,1.0,1.0,5.0,940.0,500.0,softball,5.0,1.0,1315.0,156.0
121,3.000,1.0,1.0,265.0,2.0,315.0,2.0,pizza / wings / cheesecake,loneliness / homesick / sadness,3.0,...,1.0,1.0,4.0,940.0,500.0,basketball,5.0,2.0,1315.0,180.0
122,3.882,1.0,1.0,720.0,3.0,420.0,1.0,"rice, potato, seaweed soup",sadness,3.0,...,1.0,2.0,5.0,580.0,690.0,none,4.0,2.0,1315.0,120.0
123,3.000,2.0,1.0,720.0,4.0,420.0,1.0,"mac n cheese, lasagna, pizza","happiness, they are some of my favorite foods",3.0,...,2.0,2.0,1.0,940.0,500.0,hockey,3.0,1.0,1315.0,135.0
124,3.900,1.0,1.0,430.0,3.0,315.0,2.0,"chocolates, pizza, and ritz.","hormones, premenstrual syndrome.",3.0,...,1.0,2.0,2.0,725.0,345.0,hockey,4.0,2.0,575.0,135.0

## Save the cleaned DataFrame

In [24]:
df.to_csv(r'E:/Descargas/foodcoded_clean.csv', index=False)